body {
  margin: 0;
  padding: 0;
}
header {
  height: 40px;
  display: flex;
  justify-content: center;
  background-color: gray;
}
nav {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}
footer {
  width: 100%;
  height: 100px;
  background-color: rgb(0, 0, 0);
}
.ety {
  text-decoration: none;
  color: aliceblue;
  margin-top: 10px;
}
